.banner {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: gray;
  font-size: 2rem;
  align-items: center;
}
.phone {
  height: 15rem;
  width: 7rem;
  border-radius: 1rem;
  background-color: black;
}
.title {
  display: flex;
  flex-direction: column;
}
.title > h1 {
  margin: 0 !important;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.route-container {
  background-color: var(--purpura);
  text-align: center;
  padding: 1rem;
  width: 15rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
