.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pink);
  height: 3rem;
  width: 8rem;
  color: var(--purple);
  text-align: center;
}

.button:hover {
  background-color: var(--yellow);
}
