:root {
  --purpura: #2d1e2f;
  --rosa: #fb64c1;
  --violeta: #8950fa;
  --naranja: #dda018;
  --amarillo: #e3d222;
}

li {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
div {
  font-family: "Antonio", sans-serif;
}
body {
  padding: 1rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
